<section class="text-center m-5">
    <h1 class="text-center" >Welcome, <%=current_user.name%></h1>
    <p>Populated Account Information. Current User Logged In:</p>
    <% if current_user %>
        <h5>Email: <%= current_user.email %></h5>
    <%end%>
    <% if current_user.is_healthcare_provider %>
        <h5>Your Patients:</h5>
        <% current_user.affiliated_patients.each do |patient| %>
            <h5><%= patient %></h5>
        <% end %>
    <%end%>
    <% if !current_user.is_healthcare_provider && current_user.allergies %>
        <h5> Allergies: <%= current_user.allergies%></h5>
        <h5> Vaccines: <%= current_user.vaccines%></h5>
        <h5> Conditions: <%= current_user.diseases%></h5>
        <h5> Medication: <%= current_user.medication%></h5>
        <h5> Family Medical History: <%= current_user.medical_history%></h5><br>
        <h5> Affiliated Health Providers:</h5>
        
    <%end%>
    <%=
        link_to_if(current_user.nil?, "Login", sign_in_path, class: 'btn btn-primary m-5') do
            link_to('Sign out',  destroy_user_session_path, :method => 'delete', class: 'btn btn-danger m-5')
        end
    %>
    <%=
        link_to_if(current_user.nil?, "Edit Profile", edit_path, class: 'btn btn-primary m-5') do
            link_to('Edit Profile',  edit_path, class: 'btn btn-danger m-5')
        end
    %>

    <% if !current_user.is_healthcare_provider %>
        <%=
            link_to_if(current_user.nil?, "Edit Medical Profile", medical_path, class: 'btn btn-primary m-5') do
                link_to('Edit Medical Profile',  medical_path, class: 'btn btn-danger m-5')
            end
        %>
    <%end%>

</section>