<% if current_user.is_healthcare_provider %>
  <h5>Your Patients:</h5>
  <%= render 'users/shared/stats' %>
  <br>
  <h5>Search for Patients by Name:</h5>
  <%= form_tag(profile_path, method: :get) do %>
    <%= text_field_tag(:search, params[:search]) %>
    <%= submit_tag ("Search") %>
  <% end %>
  <% if @patients %>
    <h5>Search Results:</h5>
    <% @patients.each do |patient| %>
      <%=button_to patient.name, patient_path, method: :get, params: {:id => patient.id}%>
    <% end %>
  <% end %>
<% else %>
  <div class="float-left">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <%= nav_link "Basic Info", profile_path %>
      </li>
      <li class="nav-item">
        <%= nav_link "Medical Info", profile_medical_path %>
      </li>
      <li class="nav-item">
        <%= nav_link "My Providers", profile_providers_path %>
      </li>
    </ul>
  </div>
  <% if current_page?(profile_path) %>
    <div class="container" style="margin-top: 2.5em">
      <div class="card-deck mb-3 text-center">
        <%= render "users/shared/info_card", title: "Name", body: current_user.name %>
        <%= render "users/shared/info_card", title: "Email", body: current_user.email %>
        <%= render "users/shared/info_card", title: "Password", body: "******" %>
      </div>
      <%= link_to 'Edit',  edit_path, class: "btn btn-lg btn-block btn-primary mt-auto w-100" %>
    </div>
  <% elsif current_page?(profile_medical_path) %>
    <div class="container" style="margin-top: 2em !important; margin-left: 0 !important">
      <%= render "users/shared/info_line", title: "Allergies", body: current_user.allergies %>
      <%= render "users/shared/info_line", title: "Vaccines", body: current_user.vaccines %>
      <%= render "users/shared/info_line", title: "Medication", body: current_user.medication %>
      <%= render "users/shared/info_line", title: "Diseases", body: current_user.diseases %>
      <%= render "users/shared/info_line", title: "Medical History", body: current_user.medical_history %>
    </div>
    <%= link_to 'Edit', medical_path, class: "btn btn-lg btn-block btn-primary w-25 float-xl-left", style: "margin-top: 1em !important"%>

  <% else %>
    <% if current_user.following.empty? %>
      <h4 style="margin-top: 2em">Looks like you haven't elected to follow any healthcare providers yet. Hit the edit button below to change that.</h4>
    <% else %>
      <ul class="list-group" style="margin-top: 2em">
        <% current_user.following.each do |provider| %>
          <li class="list-group-item" style="max-width: 25em; color: white; background-color: gray; margin-left: 0 !important"><%= provider.name %></li>
        <% end %>
      </ul>
    <% end %>
    <%= link_to 'Edit', providers_path, class: "btn btn-lg btn-block btn-primary w-25 float-xl-left", style: "margin-top: 1em !important"%>
  <% end %>
<% end %>
