<div class="float-left">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <%= nav_link "Basic Info", profile_path %>
    </li>
    <li class="nav-item">
      <%= nav_link "Medical Info", profile_medical_path %>
    </li>
    <li class="nav-item">
      <%= nav_link "My Providers", profile_providers_path %>
    </li>
  </ul>
</div>

<% if current_user.is_healthcare_provider %>
  <h5>Your Patients:</h5>
<% else %>
  <% if current_page?(profile_path) %>
    <div class="container" style="margin-top: 2.5em">
      <div class="card-deck mb-3 text-center">
        <%= render "users/shared/info_card", title: "Name", body: current_user.name %>
        <%= render "users/shared/info_card", title: "Email", body: current_user.email %>
        <%= render "users/shared/info_card", title: "Password", body: "******" %>
      </div>
    </div>
  <% elsif current_page?(profile_medical_path) %>
    <p>fuck u</p>
  <% else %>
    <p>fuck too</p>
  <% end %>
<% end %>

<section class="text-center m-5">
  <% if current_user %>
    <h5>Email: <%= current_user.email %></h5>
  <%end%>
  <% if current_user.is_healthcare_provider %>
    
  <%end%>
  <% if !current_user.is_healthcare_provider && current_user.allergies %>
    <h5> Allergies: <%= current_user.allergies%></h5>
    <h5> Vaccines: <%= current_user.vaccines%></h5>
    <h5> Medication: <%= current_user.medication%></h5>
    <h5> Diseases: <%= current_user.diseases%></h5>
    <h5> Family Medical History: <%= current_user.medical_history%></h5><br>
    <h5> Affiliated Health Providers:</h5>
    <% current_user.following.each do |provider| %>
      <h5><%= provider.name %></h5>
    <% end %>
    
  <%end%>
  <%=
    link_to_if(current_user.nil?, "Login", sign_in_path, class: 'btn btn-primary m-5') do
      link_to('Sign out',  destroy_user_session_path, :method => 'delete', class: 'btn btn-danger m-5')
    end
  %>
  <%=
    link_to_if(current_user.nil?, "Edit Profile", edit_path, class: 'btn btn-primary m-5') do
      link_to('Edit Profile',  edit_path, class: 'btn btn-danger m-5')
    end
  %>

  <% if !current_user.is_healthcare_provider %>
    <%=
      link_to_if(current_user.nil?, "Edit Medical Profile", medical_path, class: 'btn btn-primary m-5') do
        link_to('Edit Medical Profile',  medical_path, class: 'btn btn-danger m-5')
      end
    %>
  <%end%>

  <%= button_to "Cancel my account", registration_path(:user), data: { confirm: "Are you sure?" }, method: :delete %>

</section>