<section class="col-8 offset-2 col-sm-6 offset-sm-3">
<h2 class="text-center m-5">Edit Medical Profile</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <% cache(resource) do %>
  <%= render "users/shared/error_messages", resource: resource %>
  <div class="field">
    <%= f.label :allergies %><br />
    <%= f.text_field :allergies, class: 'form-control m-2' %>
  </div>

  <div class="field">
    <%= f.label :vaccines %><br />
    <%= f.text_field :vaccines, class: 'form-control m-2' %>
  </div>

  <div class="field">
    <%= f.label :medication %><br />
    <%= f.text_field :medication, class: 'form-control m-2' %>
  </div>
  
  <div class="field">
    <%= f.label :diseases %><br />
    <%= f.text_field :diseases, class: 'form-control m-2' %>
  </div>
  <div class="field">
    <%= f.label :medical_history %><br />
    <%= f.text_field :medical_history, class: 'form-control m-2' %>
  </div><br>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-control m-2' %>
  </div>
  <%end%>

  <div class="actions">
    <%= f.submit "Update", class: "btn btn-primary m-2 w-100", style: "margin-top: 2em !important" %>
    <%= link_to "Cancel", :profile, class: "btn btn-dark m-2 w-100", style: "background-color: darkgray" %>
  </div>
<% end %>
